#container{
    max-width: 100%;
}
body{
    background-image: url("cashfull.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
#mainContainer{
    margin: 20px auto;
    overflow: hidden;
}
#first{
    display:block;
    float:left;
    margin: 10px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
    color:black;
}
h1{
    font-size: 3.0rem;
}
#txL{
    padding: 1.0rem;
    font-weight: bold;
}
#second{
    float: right;
    box-sizing: border-box;
    margin: 10px;
    max-width: 100%;
}
img{
   width:100%;
}

input{
    height: 40px;
    width: 400px;
    border:none;
    border-bottom:1px solid black;
    background: transparent;
    font-size: x-large;
    outline-width: none;
}
#itxt{
    display: inline-block;
    margin: 20px;
    text-decoration: underline;
    color:black;
    font-weight: bolder;
}
button{
    margin: 10px;
    padding: 1rem;
}
#result{
    text-align: center;
    padding: 1rem;
    margin: 20px;
    clear: both;
    color: black;
    font-weight: bolder;
    font-size: 2rem;
}